<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerIP" value="http://192.168.0.100:8082/sw2020/user/login"></add>
    <add key="CourseIP" value="http://192.168.0.100:8082/sw2020/course/query/teacher"></add>
    <add key="FileUploadIP" value="http://192.168.0.100:8082/sw2020/file/upload"></add>
    <add key="WSIP" value="ws://192.168.0.100:8082/sw2020/wsserver/teacher"></add>
    <add key="AddClassIP" value="http://192.168.0.100:8082/sw2020/class/add"></add>
    <add key="FileEndIP" value="http://192.168.0.100:8082/sw2020/file/merge"></add>
  </appSettings>
</configuration>